<div class="group-container">
  <div class="group-data">
    <span class="iconify" data-icon="<%= group.icon %>" data-width="60" data-height="60"></span>
  </div>
  <div class="group-sum">
  <p><%= group.name %></p>
  </div>
</div>