<div class="group-container">
  <div class="group-data">
    <span class="iconify" data-icon="<%= group.icon %>" data-width="60" data-height="60"></span>
    <p><%= group.name %></p>
  </div>
  <div class="group-sum">
    <h3>$0.00</h3>
  </div>
</div>