<nav class="nav-bar">
            <%# <div class="name">
                
            </div> %>
            <ul class="list">
               <li class="item"><a href="<%= root_path %>"><span class="iconify" data-icon="ant-design:menu-outlined"></span></a></li>
                  <li class="item">TRANSACTIONS</li>
                <li class="item"><a class="nav-link" href="#portfolio-form-link"><span class="iconify" data-icon="ri:logout-box-r-line"><%= link_to "", destroy_user_session_path, class: 'link'%></span></a></li>

            </ul>
</nav>